@import 'variables';
@import 'namespace';

@include observ-scoped {
  .observ-table-container {
    overflow-x: auto;
  }

  .observ-table {
    width: 100%;
    border-collapse: collapse;
    font-size: $observ-font-size-sm;
    background-color: $observ-white;

    &__header {
      background-color: $observ-gray-50;
    }

    &__row {
      border-bottom: 1px solid $observ-gray-200;
      transition: $observ-transition;

      &:hover {
        background-color: $observ-gray-50;
      }
    }

    &__cell {
      padding: $observ-spacing-md;
      text-align: left;
      color: $observ-gray-700;
      vertical-align: middle;

      &--numeric {
        text-align: right;
        font-variant-numeric: tabular-nums;
      }

      &--actions {
        text-align: right;
        width: 1%;
        white-space: nowrap;
      }

      thead & {
        font-weight: 600;
        color: $observ-gray-700;
        font-size: $observ-font-size-sm;
        padding-top: $observ-spacing-sm;
        padding-bottom: $observ-spacing-sm;
        background-color: $observ-gray-50;
      }
    }

    &--compact {
      .observ-table__cell {
        padding: $observ-spacing-sm $observ-spacing-md;
      }
    }
  }
}
