<div class="observ-drawer" data-observ--drawer-target="drawer">
  <div class="observ-drawer__overlay" data-action="click->observ--drawer#close"></div>
  
  <div class="observ-drawer__panel">
    <div class="observ-drawer__header">
      <button 
        type="button" 
        class="observ-drawer__close-btn" 
        data-action="click->observ--drawer#close"
        aria-label="Close drawer">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 5L5 15M5 5L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
      <h2 class="observ-drawer__title" data-observ--drawer-target="headerTitle">
        Loading...
      </h2>
    </div>
    
    <div class="observ-drawer__content" data-observ--drawer-target="content">
      <div class="observ-drawer__loading">
        <span class="observ-spinner"></span>
      </div>
    </div>
  </div>
</div>
