<div class="observ-stats-bar">
  <div class="observ-stat">
    <span class="observ-stat__value"><%= stats[:pending] %></span>
    <span class="observ-stat__label">Pending</span>
  </div>
  <div class="observ-stat">
    <span class="observ-stat__value"><%= stats[:in_progress] %></span>
    <span class="observ-stat__label">In Progress</span>
  </div>
  <div class="observ-stat">
    <span class="observ-stat__value"><%= stats[:completed_today] %></span>
    <span class="observ-stat__label">Completed Today</span>
  </div>
  <div class="observ-stat">
    <span class="observ-stat__value"><%= stats[:completed_this_week] %></span>
    <span class="observ-stat__label">This Week</span>
  </div>
</div>
