<% content_for :title, "Create New Prompt" %>

<% content_for :page_header do %>
  <div class="observ-page-header__content">
    <div>
      <%= link_to "â† Back to Prompts", prompts_path, class: "observ-link" %>
      <h1 class="observ-page-header__title">Create New Prompt</h1>
      <p class="observ-prompt-header__subtitle">
        Create a new prompt version. All new prompts start as drafts.
      </p>
    </div>
  </div>
<% end %>

<div class="observ-container">
  <%= render "new_form", form: @form %>
</div>
